body{
    background: url(https://images.pexels.com/photos/4996846/pexels-photo-4996846.jpeg) no-repeat center center fixed ;
    background-size: cover;
}
.form-control{
    background:transparent;
}

.container{
    color: aliceblue;
}
.text-center{
    color: rgb(148, 0, 0);
    text-shadow: 2px 2px blueviolet;
}
.mb-3{
    color: rgb(0, 255, 8);
}
.my-4 h2{
    color: rgb(255, 217, 0);
    text-shadow: 2px 2px blueviolet;
}
.table{
    color: rgb(254, 253, 255);
}
#p1{
    color: chartreuse;
}
#emailHelp{
    color: rgb(255, 200, 0);
}
.btn-sm{
    background-color: red;
}