*{
    margin: 0;
    padding: 0;
}

body{
    background: url(https://images.pexels.com/photos/3109819/pexels-photo-3109819.jpeg) no-repeat center center fixed;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}
.container{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 25%;
    left: 50%;
}
.container h1{
    font-size: 40px;
    border-bottom: 5px solid rgb(255, 251, 0);
    display: inline-block;
    width: 65%;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 13px 0;
}
.box{
    width: 100%;
    border-bottom: 4px solid rgb(38, 255, 0);
    margin: 22px 0px ;
}
.box input{
    width: 85%;
    background: none;
    margin: 5px 10px ;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
}
 .box i{
     width: 5%; 
     text-align: center;
} 
.btn{
    cursor: pointer;
    color: rgb(0, 0, 0);
    outline: none;
    width: 42%;
    margin: 12px 0;
    padding: 10px 21px;
    border: 4px solid rgb(0, 225, 255);
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
}
.btn:hover{
    background: white;
}
.btn a{
    text-decoration: none;
    color: rgb(255, 0, 0);
}